<a href="https://colab.research.google.com/github/Dilanyumusak/GlobalAIHub_PythonProje1/blob/main/Proje1_%C3%B6dev_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Proje 1**

1. Bu projede bir öğrenci not sistemi oluşturacaksınız. Sizden istenilenler:

2. Kendinize bir ders belirleyiniz. (Matematik,Fizik, Lineer Cebir vb.)

3. Not aralığınızı oluşturunuz (100-80 ⇒ A, 79-70 ⇒ B vb.)

4. Öğrenci Bilgilerini (Ad, Soyad, Okul No, sınav puanı) girebileceğiniz ve bu bilgilerin tutulabileceği bir sistem oluşturunuz.

5. Girilen bilgilerden yola çıkarak öğrencinin dersi geçip geçmediğini göstermesi gerekmektedir.

6. Öğrenci dersi geçti ise öğrencinin bilgilerinin tutulduğu alana “Geçti” yazısı, 

7. öğrenci dersi geçemedi ise “kaldı” yazısını göstermesi gerekmektedir.

8. Notları girilen öğrencilerden dersi geçenleri ve geçmeyenleri gösteren bir 
Dataframe oluşturunuz. 

10. Oluşturulan Dataframe’i Excel tablosuna dönüştürünüz.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
Ad= []
Soyad = []
okul_no = []
sınav_notu = [] 
harf_notu = []
z= []
for i in range(1,3):
 ogrenci_ad = input("Öğrencinin Adı = ")
 ogrenci_soyad = input("Öğrencinin Soyadı = ")
 ogrenci_okul_no = input("Öğrenci Okul No = ")
 ogrenci_notu = int(input("Öğrenci notu = "))
 if ogrenci_notu<100 and ogrenci_notu>=85:
  Ad += [ogrenci_ad]
  Soyad += [ogrenci_soyad]
  okul_no += [ogrenci_okul_no]
  sınav_notu += [ogrenci_notu]
  harf_notu += 'A'
  print('A')
  z +=  'GEÇTİ' ## tekrar bak buraya 
  print('GEÇTİ')
 elif ogrenci_notu<85 and ogrenci_notu>=70:
  Ad += [ogrenci_ad]
  Soyad += [ogrenci_soyad]
  okul_no += [ogrenci_okul_no]
  sınav_notu += [ogrenci_notu]
  print('B')
  print('GEÇTİ')
 elif ogrenci_notu<70 and ogrenci_notu>=60:
  Ad += [ogrenci_ad]
  Soyad += [ogrenci_soyad]
  okul_no += [ogrenci_okul_no]
  sınav_notu += [ogrenci_notu]
  print('C')
  print('GEÇTİ')
 elif ogrenci_notu<60 and ogrenci_notu>=50:
  Ad += [ogrenci_ad]
  Soyad += [ogrenci_soyad]
  okul_no += [ogrenci_okul_no]
  sınav_notu += [ogrenci_notu]
  print('D')
  print('GEÇTİ')
 else:
  Ad += [ogrenci_ad]
  Soyad += [ogrenci_soyad]
  okul_no += [ogrenci_okul_no]
  sınav_notu += [ogrenci_notu]
  print('F')
  print('KALDI')

Öğrencinin Adı = Dilan
Öğrencinin Soyadı = tyu
Öğrenci Okul No = 32
Öğrenci notu = 67
C
GEÇTİ
Öğrencinin Adı = Merve
Öğrencinin Soyadı = asdfg
Öğrenci Okul No = 32
Öğrenci notu = 89
A
GEÇTİ

In [ ]:
type(Ad)

list

In [ ]:
z

[]

In [ ]:
asd =[Ad, Soyad, okul_no, sınav_notu,harf_notu]

In [ ]:
asd

[['Dilan', 'Merve'], ['tyu', 'asdfg'], ['32', '32'], [67, 89], ['A']]

In [ ]:
import pandas as pd

In [ ]:
df=pd.DataFrame(data= asd, columns=['Adi','soyadı'])

TypeError: ignored

In [ ]:
df

     Adi soyadı
0  Dilan  Merve
1    tyu  asdfg
2     32     32
3     67     89
4      A   None

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
type(Ad)

list